<footer class="footer my-12">
    <div class="text-center">
        <a [href]="Facebook" target="_blank" *ngIf="Facebook" class="cc-facebook btn btn-link text-2xl mx-4"
            target="_blank">
            <i class="fa-brands fa-facebook-f text-gray-400 hover:text-sky-400"></i>
        </a>
        <a [href]="Instagram" target="_blank" *ngIf="Instagram" class="insta cc-instagram btn btn-link text-2xl mx-4"
            target="_blank">
            <i class="fa-brands fa-instagram text-gray-400 hover:text-sky-400"></i>
        </a>
        <a [href]="Twitter" target="_blank" *ngIf="Twitter" class="cc-twitter btn btn-link text-2xl mx-4"
            target="_blank">
            <i class="fa-brands fa-twitter text-gray-400 hover:text-sky-400"></i>
        </a>

        <a [href]="GitHub" target="_blank" *ngIf="GitHub" class="cc-github btn btn-link text-2xl mx-4" target="_blank">
            <i class="fa-brands fa-github text-gray-400 hover:text-sky-400"></i>
        </a>
    </div>
    <div class="text-center text-muted mt-4 text-gray-400 ">
        <p>&copy; All rights reserved.
        </p>
    </div>
</footer>
<a href="#">
    <div class="fixed right-0 bottom-0 border-2 bg-sky-400 rounded-full p-4 mr-4 mb-4" data-aos="fade-up"
        data-aos-anchor="#trigger-right">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5" />
        </svg>
    </div>
</a>