<section id="about">
    <div class="container mx-auto mt-48 pt-24">
        <div class="text-center">
            <span class="font-bold text-6xl border-b-4 border-black" data-aos="fade-down-left">ABOUT</span>
        </div>
        <div class="items-center lg:grid lg:grid-cols-3 md:grid-cols-2 gap-2 my-11 mt-10 block sm:block md:block"
            data-aos="fade-up">
            <div>
                <img src="assets/image/about@3x.webp" class="mr-3 w-full sm:w-96 md:w-96" alt="">
            </div>
            <div class="col-span-2 sm:mt-10">
                <h1 class="text-2xl font-bold">UPWORK</h1>
                <h2 class="text-lg text-gray-400 font-semibold">Freelance</h2>
                <p class="mt-2 leading-8 text-gray-400">I am Shivam Singh, A Full Stack Developer having specialization
                    in back end &
                    front end development.
                    I gave several years of experience in Web Development having strong Angular and Nodejs skills. I am
                    also a Freelancer in Upwork
                    The Client Review below, which you will find in my Upwork reviews
                    and others like it, describes the quality of work and value that you can expect from working with
                    me: "It was A+ Grade experience working with Shivam, Highly recommend him. the best part about
                    Shivam was that he
                    proactively kept me updated on high level non-technical overview of what is being conducted at every
                    stage of the
                    process. it was an ongoing project assigned to him. He quickly understood the architecture and
                    helped me through the
                    each left behind part. there were several modules, which were depreciated, so Shivam suggested and
                    implemented right
                    capacitor plugins and completed the last 10% of most complex and time consuming tasks with an ease.
                    I am definitely
                    looking forward to work with him again for improvement tasks and new projects. Wish you very all the
                    best Shivam."
                </p>
                <button class="mt-4 bg-sky-500 hover:bg-sky-600 font-bold text-white text-xl p-2 px-4 rounded-full">View
                    Resume</button>
            </div>
        </div>
    </div>
</section>