<section id="blog">
    <div id="blog" class="bg-gray-100 dark:bg-gray-900 px-4 xl:px-4 py-14">
        <div class="mx-auto container">
            <span role="contentinfo" data-aos="zoom-in-up">
                <h1
                    class="focus:outline-none text-center text-3xl lg:text-5xl tracking-wider text-gray-900 dark:text-white">
                    Latest from our Blog</h1>
            </span>
            <div aria-label="Group of cards" class="focus:outline-none mt-12 lg:mt-24">
                <div class="flex gap-4 justify-center items-center">
                    <div class="focus:outline-none " aria-label="card 2" data-aos="slide-up" data-aos-duration="500"
                        *ngFor="let item of lstBlogs">
                        <a href="{{item.url}}" target="_blank">
                            <img role="img" aria-label="gaming" class="focus:outline-none w-full"
                                src="{{item.cover_image}}" [alt]="item.title" />
                            <div class="py-2 px-4 w-full flex justify-between bg-sky-400">
                                <p class="focus:outline-none  text-sm text-white font-semibold tracking-wide">
                                    {{item.reading_time_minutes}} Min Read</p>
                                <p class="focus:outline-none text-sm text-white font-semibold tracking-wide">
                                    {{item.published_timestamp | date:'dd MMM yyyy'}}</p>
                            </div>
                            <div class="bg-white dark:bg-gray-800 px-3 lg:px-6 py-4 rounded-bl-3xl rounded-br-3xl">
                                <h1
                                    class="focus:outline-none text-lg text-gray-900 dark:text-white font-semibold tracking-wider">
                                    {{item.title}}</h1>
                                <p
                                    class="focus:outline-none text-gray-700 dark:text-gray-200 text-sm lg:text-base lg:leading-8 pr-4 tracking-wide mt-2">
                                    {{item.description}}
                                </p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="mt-8 bg-sky-500 hover:bg-sky-600 font-bold text-white text-xl p-2 px-4 rounded-full"
            data-aos="zoom-in" data-aos-duration="1000"> <a href="https://dev.to/shivamblog" target="blank">VIEW
                ALL</a></button>
    </div>
</section>